* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f7fa;
}
nav{
  background-color: skyblue !important;
}

.products-section {
  padding: 60px 8%;
}

.products-section h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #222;
}

/* FILTER BUTTONS */
.filter-buttons {
  text-align: center;
  margin-bottom: 40px;
}

.filter-buttons button {
  padding: 10px 22px;
  margin: 6px;
  border: none;
  border-radius: 25px;
  background: #ddd;
  cursor: pointer;
  font-weight: 600;
}

.filter-buttons button.active,
.filter-buttons button:hover {
  background: #ff9800;
  color: #fff;
}

/* PRODUCTS GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card h3 {
  padding: 15px;
  font-size: 18px;
}

.product-card p {
  padding: 0 15px;
  font-size: 14px;
  color: #555;
}

.product-card span {
  display: block;
  padding: 15px;
  font-size: 13px;
  font-weight: 600;
  color: #ff9800;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  
  .nav{
    height: 70px !important;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-section{
    padding-top: 100px;
  }
  .hamburger span {
        height: 3px;
        width: 100%;
        background: #000000;
        border-radius: 3px;
        transition: 0.3s ease;
    }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
