@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    nav ul {
        margin-top: 1rem;
        gap: 1rem;
        font-size: 0.9rem;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .form-container form {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }

    .form-container button {
        grid-column: span 1;
    }

    .contact-grid {
        grid-template-columns: 1fr;

    }

    /* Logo LEFT */
    .logo img {
        height: 60px;
        width: 60px;
        display: block;
        margin: 0px;
    }

    /* Hamburger RIGHT */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 22px;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background: #ffffff;
        border-radius: 3px;
        transition: 0.3s ease;
    }

    /* Hamburger → X */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    /* Mobile Menu */
    nav {
        height: 80px;
    }

    nav ul {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        height: 350px;
        background: #122b42;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border-radius: 15px;
        border: 1px solid white;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        transition: max-height 0.35s ease, opacity 0.3s ease;
        z-index: 1000;
    }

    nav ul.show {
        max-height: 400px;
        opacity: 1;
        padding: 16px 0;
    }

    /* Call button inside menu */
    .call-now {
        margin-top: 0.5rem;
    }

    /* Menu links */
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

    .guarantee-badge {
        position: fixed;
        height: 110px;
        width: 100px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(135deg, #ffbb00, #ff9800);
        color: #000;
        padding: 14px 18px;
        /* font-weight: 600; */
        font-size: 0.95rem;
        text-align: center;
        border-radius: 10px 0 0 10px;
        box-shadow: -4px 6px 18px rgba(0, 0, 0, 0.35);
        z-index: 999;
        cursor: default;
        transition: all 0.3s ease;
    }

    /* BIG NUMBER */
    .guarantee-badge span {
        display: block;
        /* font-size: 1.8rem; */
        font-size: 15px;
        font-weight: bold;
        /* font-weight: 800; */
        line-height: 1;
    }

    /* -------------------------------------------------------------district wise----------------------------------- */
    .district-container {
        padding: 25px 20px;
    }

    .district-container h2 {
        font-size: 22px;
    }

    .district-container p {
        font-size: 15px;
    }
}